.title{
    font-size: 32px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}